
uni-radio {
	transform: scale(0.8);
}

.bg-transparent {
	background: transparent;
}

.hx-bg-gray{
	background-color: #F4F4F4;
}

.balance-nav {
	background: #ec3a46;
}

.submit-btn-active {
	color: #fff;
	height: 80upx;
	line-height: 80upx;
	background: #f34e2d;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ec3a46, #f34e2d);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ec3a46, #f34e2d);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	transition: all 0.3s ease-in-out
}

.submit-btn {
	color: #333;
	height: 80upx;
	line-height: 80upx;
	background: #f0f0f0;
	transition: all 0.3s ease-in-out
}

.bg-hx-red {
	background: #f34e2d;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ec3a46, #f34e2d);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ec3a46, #f34e2d);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-hx-red_{
	background: #EC404C;
}

.bg-hx-white{
	background: white;
}

.hx-text-red {
	color: #f34e2d;
}

.hx-cur {
	position: relative;
}

.hx-cur::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-bottom: 2px solid;
}

.shadow-around {
	box-shadow: 6upx 6upx 8upx rgba(0, 0, 0, 0.1)
				, -6upx -6upx 16upx rgba(0, 0, 0, 0.1);
}

.banner-img {
	width: 100%;
	position: absolute;
	top: 0;
}

.status_bar {
	height: var(--status-bar-height);
	width: 100%;
	background: transparent;
}

.top_view {
	height: var(--status-bar-height);
	width: 100%;
	position: fixed;
	background: #FFFFFF;
	opacity: .8;
	top: 0;
	z-index: 999;
}

.bg-cream{
	background: #f8d1a3;
}

.bg-jingying{
	background-color: #e9a555;
}

.bg-dark-yellow{
	background: #E8C091;
}

.bg-miyellow{
	background: #E8C091;
}

.bg-order-yellow{
	/* background: #e7a04d; */
	background: #f8cd18
}
	
.submitOrder-bg-black{
		background: #444242;
}

.bg-colors{
	background: rgb(250, 222, 189);
}

.bg-colorss{
	background: rgb(242, 242, 242);
}
